<nav>
  <div class="nav-wrapper indigo darken-4">
    <div class="container">
      <a href="#" class="brand-logo italic uppercase">Gestão de Clientes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down italic uppercase">
        <li><a routerLink="/consultar">Consultar Clientes</a></li>
        <li><a routerLink="/criar">Criar cliente</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row" style="margin-top: 3rem; margin-left: auto">
    <div class="col l10 m12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
